<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    <style>
        form {
            margin-bottom: 20px; /* Space between the form and the graph */
        }
    </style>
</head>

<!-- Navigation bar -->
{% include 'navbar.html' %}

<body>
    <form action="/graph" method="GET">
        <label for="x_axis">Select X-Axis:</label>
        <select id="x_axis" name="x_axis">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        
        <label for="y_axis">Select Y-Axis:</label>
        <select id="y_axis" name="y_axis">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
    </form>

    <div class="plot-container">
        {{ plot | safe }}
    </div>
</body>

</html>